{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Store Online</title>
</head>
<body>
    <div class="nav">
        <nav>
            <h1><a href="{% url 'index' %}">TIENDA ONLINE</a></h1>
            <h2><a href="{% url 'login' %}">LOGIN</a></h2>
        </nav>
    </div>
    {% block container %}
    {% endblock %}
</body>
</html>